body{
     background-color: #f4f4f3ef; 
     
  
}
.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
}
.game{
    background-color: #8c8c8c;
    width: 300px;
    height: 390px;
    text-align: center;
    border-radius: 8px;
}
.quiz-container .question{
    text-align: center;
    font-weight: 700;
    font-size: 20px;

}
.opt-btns{
    display: block;
    position:absolute;
    top:60px;
    
}
#btn1,#btn2,#btn3,#btn4{
    width:255px;
    display: block;
    padding:6px;
    cursor: pointer;
    margin: 3px 19px;
    position: relative;
    top: auto;
}

#submit-btn{
    position:relative;
    top:210px;
    /* display: block; */
    width:auto;
    cursor: pointer;
    padding: 7px;
    margin-top: 9px;
    background-color: #52f52e;
    border: 3px solid greenyellow;
    font-weight: 500;
}
#submit-btn:hover{
    background-color: #000000;
    color: #fff;
}
.score{
    position: absolute;
    top:220px;
    /* display: none; */
}
#showscore{
   position: relative;
   top: 220px;
   margin: 20px 20px;
   height: 50px;
   width: 130px;
   background-color: #ecc4c4;
   text-align: center;
   font-weight: 700;
   border-radius: 10px;
   display: none;
}